// Place all the styles related to the Asks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page {
  text-align: center;
}

.panel {
  margin-bottom: 5px;

  .edit {
    font-size: 13px; 
    color: grey;
  } 
}

table {
  th {
    text-align: center;
  }

  .no {
    width: 80px;
    text-align: center;
  }

  .title {
    width: 420px;
    text-align: center;
  }

  .writer {
    width: 150px;
    text-align: center;
  }

  .date {
    width: 150px;
    text-align: center;
  }
}


