.panel {
  .title {
    font-weight: bold;
  }

  .board-writer {
    color: grey;
  }

  a {
    color: grey;
  }

  ul li.content img {
    width: 100%;
  }

}

.product-link {
  margin-top: 10px;
}

.content {
  margin-top: 10px;
  margin-bottom: 10px;
}
