// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  ul li {
    line-height: 22px;
  }

  .comment_writer {
    font-weight: bold;
    margin-right: 10px;
  }

  .comment_time {
    float: right;
    margin-right: 5px;
  }

  .comment_delete {
    float: right;
    
    a {
      color: black;
    }
  }
}

.container .panel ul li.comment {
  background-color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 10px;
}