// Place all the styles related to the introduces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  text-align: center;
}

.nav {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 28%;
  width: 43.5%;
}

.panel {
  padding-left: 0px;
  padding-right: 0px;
}