// Place all the styles related to the introduces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-group {
  margin: 0 auto;

  img {
    margin-bottom: 20px;
  }

  a {
    font-weight: bold;
  }

  margin-bottom: 100px;
}

@media (min-width: 481px) {
  .panel-group {
    width: 700px;
  }

  dl, dt {
    font-size: 12pt;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  width: 100%;

  dl, dt {
    font-size: 10pt;
  }
}