// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_length {
  color: navy;
  margin-bottom: 10px;
  margin-left: 10%
}

.js-masonry {

  padding-left: 10%;

  .item {

    width: 250px;
    position: relative;

    &:hover {
      .img_detail {
        display: block;
      }
    }

    img {
      border-radius: 10px;
      &:hover {
        opacity: 0.2;
      }
    }

    .img_detail {
      position: absolute;
      width: 250px;
      top: 35%;
      display: none;

      h4 {
        font-weight: bold;
        text-align: center;
        font-family: 궁서, serif;
      }
    }

  }

  .edit_delete {
    text-align: center;
  }
  .no_edit {
    margin-bottom: 10px;
  }
}


.detail_page {
  width: 90%;
  margin-left: 5%;
  font-family: 궁서, serif;

  .container {
    width: 100%;
    padding: 0px;
  }

  h1 {
    margin: 0 auto;
    font-family: 궁서, serif;
  }

  .details a {
    color: red;
  }


  .divider {
    height: 1px;
    background: black;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  blockquote {
    margin-bottom: 0px;
  }

  table {
    width: 100%;

    .no {
      width: 100px;
      text-align: center;
    }

    .title {
      text-align: left;
    }

    .writer {
      width: 150px;
      text-align: center;
    }

    .date {
      width: 150px;
      text-align: center;
    }
  }
}