// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page {
  text-align: center;
}

table {
  th {
    text-align: center;
  }

  .no {
    width: 80px;
    text-align: center;
  }

  .title {
    width: 420px;
    text-align: left;
  }

  .writer {
    width: 150px;
    text-align: center;
  }

  .date {
    width: 150px;
    text-align: center;
  }
}